body {
  background-color: #d3e7f3; /* Bleu clair */
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #3e4e50;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  padding: 0 20px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  color: #3e4e50;
  margin: 0;
}

.time-remaining {
  font-size: 1.2rem;
  color: #6d6d6d;
  margin-top: 10px;
}

.house-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  background: #ffffff;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-top: -50px;
  overflow: hidden;
}

.house-container::before {
  content: "";
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 80px solid #8fc59b;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.day {
  font-size: 24px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9e79f;
}

.day.past {
  background-color: #e5e5e5;
  color: #a0a0a0;
  cursor: not-allowed;
  box-shadow: none;
}

.day.past:hover {
  transform: none;
}

.day.active {
  background-color: #8fc59b;
  color: white;
}

.day.opened {
  background-color: #f8c2c2;
  color: white;
  transform: scale(0.9);
}

.day.inactive {
  background-color: #e5e5e5;
  color: #ccc;
  cursor: not-allowed;
}

.day:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.surprise {
  font-size: 1.5rem;
  color: #3e4e50;
  margin-top: 20px;
}

.footer {
  margin-top: auto;
  padding: 10px 0;
  text-align: center;
  color: #6d6d6d;
  font-size: 1rem;
  background: #f9e79f;
}
